#hero {
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(#00259eb2, #0150fab0), url("../images/banner.jpg");
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 5rem;
    overflow: hidden;

    & #bannerText {
        height: 100vh;
        position: relative;

        & #above {
            position: absolute;
            left: 8%;
            top: 20%;

            & h1 {
                font-weight: 900;
                text-transform: uppercase;
                font-style: italic;
                font-size: 8rem;
                color: #ffffff59;
                margin-left: 11rem;
            }

            & h2 {
                font-weight: 700;
                text-transform: uppercase;
                font-size: 5rem;
                color: #ffffff59;
                position: relative;
                top: -2rem;
            }
        }

        & #image {

            position: absolute;
            right: -32%;
            top: 13%;
            transform: rotate(339deg);
            z-index: 99;

            & img {
                width: 80%;
            }
        }

        & #modelInfo {
            position: absolute;
            bottom: 5%;
            right: 5%;

            & h2 {
                font-size: 7rem;
                color: #ffffff59;
                font-weight: 700;
            }

            & h3 {
                font-size: 5rem;
                color: #ffffff59;
                margin-top: -2rem;
                margin-left: -4rem;
            }

            & h4 {
                font-size: 3rem;
                color: #ffffff59;
                margin-top: -1rem;
            }
        }

        @media only screen and (max-width: 599px) {
            & #above {
                left: 5%;
                top: 9%;

                & h1 {
                    font-size: 5rem;
                    margin-left: 0;
                }

                & h2 {
                    font-size: 3rem;
                    top: -1rem;
                }
            }

            & #image {
                top: 32%;
                right: -16%;

                & img {
                    width: 80%;
                }
            }

            & #modelInfo {
                & h2 {
                    font-size: 5rem;
                }

                & h3 {
                    font-size: 3rem;
                    margin-top: -2rem;
                    margin-left: -3rem;
                }

                & h4 {
                    font-size: 2rem;
                    margin-top: -1rem;
                }
            }

        }

        @media only screen and (min-width: 600px) and (max-width: 699px) {
            & #above {
                left: 4%;
                top: 13%;

                & h1 {
                    margin-left: 0rem;
                }

                & h2 {
                    font-size: 4rem;
                }
            }

            & #image {
                right: -77%;
                top: 33%;
            }

            & #modelInfo {
                & h2 {
                    font-size: 7rem;
                }

                & h3 {
                    font-size: 4rem;
                }

                & h4 {
                    font-size: 3rem;
                }
            }
        }

        @media only screen and (min-width: 700px) and (max-width: 800px) {
            & #above {
                left: 4%;
                top: 13%;

                & h1 {
                    margin-left: 0rem;
                }

                & h2 {
                    font-size: 4rem;
                }
            }

            & #image {
                right: -76%;
                top: 33%;
            }

            & #modelInfo {
                & h2 {
                    font-size: 7rem;
                }

                & h3 {
                    font-size: 4rem;
                }

                & h4 {
                    font-size: 3rem;
                }
            }
        }

        @media only screen and (min-width: 900px) and (max-width: 991px) {
            & #above {
                left: 4%;
                top: 13%;

                & h1 {
                    margin-left: 0rem;
                }

                & h2 {
                    font-size: 4rem;
                }
            }

            & #image {
                right: -52%;
                top: 33%;
            }

            & #modelInfo {
                & h2 {
                    font-size: 7rem;
                }

                & h3 {
                    font-size: 4rem;
                }

                & h4 {
                    font-size: 3rem;
                }
            }
        }

        @media only screen and (min-width: 801px) and (max-width: 899px) {
            & #above {
                left: 4%;
                top: 13%;

                & h1 {
                    margin-left: 0rem;
                }

                & h2 {
                    font-size: 4rem;
                }
            }

            & #image {
                right: -60%;
                top: 33%;
            }

            & #modelInfo {
                & h2 {
                    font-size: 7rem;
                }

                & h3 {
                    font-size: 4rem;
                }

                & h4 {
                    font-size: 3rem;
                }
            }
        }

        @media only screen and (min-width: 992px) and (max-width: 1112px) {
            & #above {
                left: 4%;
                top: 13%;

                & h1 {
                    margin-left: 0rem;
                }

                & h2 {
                    font-size: 4rem;
                }
            }

            & #image {
                right: -69%;
                top: 8%;

                & img {
                    width: 50%;
                }
            }

            & #modelInfo {
                & h2 {
                    font-size: 7rem;
                }

                & h3 {
                    font-size: 4rem;
                }

                & h4 {
                    font-size: 3rem;
                }
            }
        }

        @media only screen and (min-width: 1113px) and (max-width: 1280px) {
            & #image {
                right: -45%;
                top: 10%;

                & img {
                    width: 70%;
                }
            }
        }

    }

   @media only screen and (max-width: 599px){
       &{
           overflow-y: visible;
           overflow-x: hidden;
           height: auto;
       }
   }

   & #heroVariantion{
       & h4{
           font-size: 1.4rem !important;
           font-weight: 700 !important;
       }

       & h5{
        font-size: 1.3rem !important;
        font-weight: 700 !important;
       }

       & h6{
        font-size: 1.2rem !important;
        font-weight: 700 !important;
       }
   }
}