.prodCard{
    & .MuiCardContent-root{
        & h5{
            font-family: var(--headingFontFamily) !important;
            font-size: 1.2rem !important;
            font-weight: 700;
        }

        & h6{
            font-size: 1rem;
        }
    }
}